.header {
  background: #929292;
  height: 35px; 
}

.header > div {
  margin: auto;
  width: 80%;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1000px) {
  .header > div {
    width: 80%;
  }
}

@media (max-width: 999px) {
  .header > div {
    width: 800px;
  }
}

.header > div > div {
  border-radius: 3px;
  background: white;
  padding: 0px 20px 0px 20px;
  font-weight: 500;
  font-size: 1.2em;
}