.item {
  background: white;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  transition: all .2s ease-in-out;
}

.item:hover {
  transform: scale(1.02)
}

.item-img {
  height: 180px;
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  clip-path: ellipse(200px 200px at 20% 50%);
}

.item-text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.item-header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  margin-top: 20px;
}

.item-description {
  font-size: 0.7em;
}

.item-price, .item-title {
  font-weight: 500;
  font-size: 1.2em;
}

.item-price {
  font-weight: 400;
  font-size: 1.2em;
}

.item-price-subtitle {
  font-size: 0.5em;
}