* {
  margin: 0;
  padding: 0;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.main-container {
  margin: auto;
  display: flex;
}

@media (min-width: 1000px) {
  .main-container {
    width: 80%;
  }
}

@media (max-width: 999px) {
  .main-container {
    width: 800px;
  }
}

.item-list-container { 
  width: 70%;
  background: #D4D4D4;
}

.cart-container {
  width: 30%;
  background: #EBEBEB;
}